@import '@fontsource-variable/m-plus-2';
@import '@fontsource-variable/material-symbols-rounded';
@import '@fontsource/material-icons-round';

@layer reset, base, tokens, recipes, utilities;

@supports (-webkit-touch-callout: none) {
  html {
    height: -webkit-fill-available;
  }

  body {
    min-height: 100vh;
    height: -webkit-fill-available;
  }
}
